[Service]
ExecStart=/usr/bin/yes
WorkingDirectory=/home/oott123
User=oott123
Restart=always
RestartSec=5
Environment=A=B
Environment=C=D

[Install]
WantedBy=multi-user.target
